.container {
  display: flex;
  flex-direction: row;
  width: 98vw;
  gap: 0rem;
  padding-top: 7rem;
  padding-left: 4vw;
  padding-right: 2vw;
  margin: auto;
  height: 80vh;
  justify-content: space-around;
  margin-bottom: 200px;
}

.aboutMeContainer {
  width: 50%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 40px;
}

.title {
  font-size: 50px;
}

.aboutTitle {
  display: flex;
  gap: 20px;
  height: 100px;
}

.cv {
  overflow: visible;
  margin-top: -30px;
  transition: 0.5s;
}
.cv:hover {
  scale: 1.1;
  overflow: visible;
}

.resumeBtn {
  margin-top: 0px;
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  transition: 0.5s;
  border: 1px solid white;
}

.resumeBtn:hover {
  font-size: 18px;
  background-color: #6a1ac4;
}

.image {
  align-self: center;

  opacity: 0.7;
}

@media screen and (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0rem;
    padding-top: 3.2rem;
    margin: auto;
    height: 100vh;
    justify-content: flex-start;
  }

  .about {
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 40px;
    margin-left: 25px;
  }

  .title {
    text-align: center;
    font-size: 40px;
    margin-left: 25px;
  }
  .aboutMeContainer {
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .resumeBtn {
    margin-top: 0px;
    background-color: transparent;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    transition: 0.5s;
    border: 1px solid white;
    margin-left: 25px;
  }
}
