.container {
  height: 10vh;
  width: 100%;
  background-color: #19112e;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.iconContainer {
  display: flex;
  gap: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.iconContainer:hover {
  color: blueviolet;
}

@media screen and (max-width: 900px) {
  .container {
    height: 20vh;
    background-color: #19112e;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 0rem;
  }
}
