.mainTitle {
  font-size: 40px;
  text-align: center;
  margin-bottom: 10px;
}
.pageContainer {
  width: 500px;
}

.proyect {
  width: 500px;
  height: 253px;
  overflow: hidden;
  display: inline-block;
  position: relative;
}

.proyect:hover .img {
  transform: scale(1.1);
  filter: brightness(0.6);
}

.proyect:hover .btn {
  opacity: 1;
}

.img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
  object-fit: cover;
}

.btn {
  position: absolute;
  top: 40%;
  left: 38%;
  transition: 0.5s;
  opacity: 0;
  background-color: #19112e;
  border-radius: 10px;
  padding: 0.5rem;
  transition: 0.3s;
}

.btn:hover {
  background-color: #491f79;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #19112e;
  padding-top: 4%;
  width: 90vw;
  height: 600px;
  margin-bottom: 10rem;
}
.p {
  text-align: center;
  font-size: 20px;
}

@media screen and (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #19112e;
    width: 100%;
    height: 135vh;
    margin-bottom: 8rem;
    margin-top: 6rem;
    gap: 6rem;
  }

  .proyect {
    width: 100%;
    height: 190px;
    overflow: hidden;
    display: inline-block;
    position: relative;
  }

  .pageContainer {
    width: 100%;
    margin-top: 10px;
  }
  .p {
    text-align: center;
    font-size: 20px;
    margin-left: 25px;
  }
  .h2andp {
    margin-left: 25px;
  }
}
