.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

.p {
  font-size: 20px;
}

@media screen and (max-width: 500px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 600px;
    height: 100vh;
  }
}
